* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 10px;
}
body {
  margin: 0 auto;
  font-family: 'Microsoft Yahei', '黑体', 'Ubuntu';
  background-color: #efefef;
}
p {
  color: #99a3b1;
  font-size: 1.1rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
