.merchant-access {
  border-bottom: 1px solid #cccccc;
}
.content-access .selected-content-video {
  margin-top: 2rem;
}
.internet-access {
  position: relative;
  color: #ff7d13;
  border-bottom: 1px solid #cccccc;
}
.internet-access .icon {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  margin-top: -0.525rem;
  width: 0.6rem;
  height: 1.05rem;
  line-height: 3.9rem;
}
